<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" name="viewport">
    <title>Cerebelo</title>
    <!-- Estilos -->
    <%= stylesheet_link_tag 'admin/application', media: 'all' %>
    <!-- Favicon -->
    <%= favicon_link_tag 'admin/favicon.png', rel: 'shortcut icon', type: 'image/x-icon' %>
    <%= favicon_link_tag 'admin/favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <!-- Fontes -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <!-- JavaScripts -->
    <%= javascript_include_tag 'admin/application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'layouts/admin/partials/navigation' %>

    <div class="page-container">
      <%#= render 'layouts/admin/partials/sidebar' %>

      <div class="page-content">

<!-- Page header -->
        <section id="header-content">
          <div class="page-header">
            <div class="page-title">
              <%= yield :page_title %>
            </div>
          </div>
        </section>
<!-- /page header -->
<!-- Breadcrumbs line -->
        <%= yield :breadcrumb_area %>
<!-- /breadcrumbs line -->
        <%= yield %>
      <div class="footer clearfix">
        <div class="pull-left">
          &copy; <%= Time.now.year %>. CelebraVIP por
          <%= link_to 'http://emiolo.com', target: '_blank' do %>
            <%= image_tag 'admin/emiolo.png', width: '60' %>
          <% end %>
        </div>
      </div>
      </div>

    </div>

<%= yield :javascript_area %>

  </body>
</html>
