a {
  color: #405e88;
}

.bg-btn-new a {
  background-color: #5f977b;
  span, i {
    color: #eee;
  }
  &:hover {
    span, i {
      color: #5f977b;
    }
  }
}

// Radio button
.radio-info .choice:active span,
.radio-info .choice.active span,
.radio-info .choice span.checked {
  border-color: #5f977b;
  background-color: #5f977b;
}

.user-menu > a {
  background: #2D3A42;
}
