<!-- Form modal -->
<div class="modal fade" id="form_modal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
        <h4 class="modal-title">
          <i class="icon-paragraph-justify2"></i>
          Imagem</h4>
      </div>

<!-- Form inside modal -->
      <form action="#" role="form">

        <div class="modal-body with-padding">

          <div class="form-group">
            <div class="row">
              <div class="col-sm-6">
                <div class="image-editor">
                  <input class="cropit-image-input styled" type="file">
                  <div class="cropit-image-preview"></div>
                  <div class="image-size-label">
                    <%= I18n.t('views.resize_image') %>
                  </div>
                  <input class="cropit-image-zoom-input ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" type="range">
                  <button class="export btn btn-success"><%= I18n.t('views.crop_image') %></button>
                </div>
              </div>

              <div class="col-sm-6">
                <label class="control-label"><%= I18n.t('views.cut_image') %></label>

                <div class="thumbCut"></div>
              </div>
            </div>
          </div>

          <div class="form-actions text-right">
            <button class="btn btn-warning cancel" data-dismiss="modal" type="button">Cancelar</button>
            <button class="btn btn-primary confirm disabled" data-dismiss="modal" type="button">Confirmar</button>
          </div>

        </div>
      </form>
    </div>
  </div>
<!-- /form modal -->

  <% content_for :javascript_area do %>
  <script>
    $(function () {
      $('.image-editor').cropit({
        freeMove: true,
        smallImage: 'allow',
        minZoom: 'fit',
        maxZoom: 1.5
      });
      var imageData;
      $('.export').click(function () {
        if ($('.cropit-image-input').val() != '') {
          $(".img-preview").remove();
          $(".confirm").removeClass('disabled');
          imageData = $('.image-editor').cropit('export');

          if (imageData.indexOf('data:image') >= 0) {
            $(".thumbCut").after('<img class="img-preview" src="' + imageData + '">');
          }
        }

        return false;
      });

      $('.confirm').click(function () {
        if ($('.cropit-image-input').val() != '' && $.type(imageData) === "string") {
          $(".img-preview").remove();
          $('#datafile').val(imageData);
          $(".thumbCropped").after('<img class="img-preview" src="' + imageData + '">');
        }
      })
    });
  </script>
  <% end %>
