<!-- Navbar -->
<div class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag("admin/logo.png", height: '32') %>
    <% end %>
    <a class="sidebar-toggle">
      <i class="icon-paragraph-justify2"></i>
    </a>
    <button class="navbar-toggle" data-target="#navbar-icons" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navbar</span>
      <i class="icon-grid3"></i>
    </button>
    <button class="navbar-toggle offcanvas" type="button">
      <span class="sr-only">Toggle navigation</span>
      <i class="icon-paragraph-justify2"></i>
    </button>
  </div>

  <ul class="nav navbar-nav navbar-right collapse" id="navbar-icons">
    <li class="dropdown">
      <a href="javascript:void(0)"><%= image_tag 'admin/logo-cerebelo-branca.png', height: '20' %></a>
    </li>
    <!--<li class="user dropdown">-->
    <!--<a class="dropdown-toggle" data-toggle="dropdown">-->
    <%# if current_user.profile_image.blank? %>
    <!--<i class="icon-user" style="font-size:28px"></i>-->
    <%# else %>
    <%#= image_tag(current_user.profile_image.url(:thumb), height: '30', width: '30') %>
    <%# end %>
    <%# if !current_user.name.nil? || !current_user.name.blank? %>
    <!--<span><%#= current_user.name %></span>-->
    <%# else %>
    <%#= current_user.email %>
    <%# end %>
    <!--<i class="caret"></i>-->
    <!--</a>-->
    <!--<ul class="dropdown-menu dropdown-menu-right icons-right">-->
    <!--<li>-->
    <%#= link_to edit_admin_user_path(current_user.id) do %>
    <!--<i class="icon-user"></i>-->
    <!--<span><%#= I18n.t('views.edit_profile') %></span>-->
    <%# end %>
    <!--</li>-->
    <!--<li>-->
    <%#= link_to logout_path, method: :delete do %>
    <!--<i class="icon-exit3"></i>-->
    <!--<span><%#= I18n.t('views.exit') %></span>-->
    <%# end %>
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
  </ul>
</div>
<!-- /navbar -->
