<% flash.each do |name, msg| %>
<% if name == 'notice' %>

<div class="alert alert-success fade in block-inner">
  <button class="close" data-dismiss="alert" type="button">×</button>
  <i class="icon-checkmark-circle"></i>
  <%= msg %>
</div>

<% end %>
<% end %>
