<!-- Sidebar -->
<div class="sidebar">
  <div class="sidebar-content">

<!-- User dropdown -->
    <div class="user-menu">
      <a href="#">
        <% if current_user.profile_image.blank? %>
        <i class="icon-user" style="font-size:48px"></i>
        <% else %>
        <%= image_tag(current_user.profile_image.url, height: '48', width: '48') %>
        <% end %>
        <div class="user-info">
          <% unless current_user.name.nil? || current_user.name.blank? %>
          <%= current_user.name.truncate(20) %>
          <% end %>
          <span><%= current_user.email.truncate(20) %></span>
        </div>
      </a>
    </div>
<!-- /user dropdown -->

<!-- Main navigation -->
    <ul class="navigation">
      <% if %w(super admin editor).include? current_user.role %>
      <% menus.each do |menu| %>
      <li>
        <% if !menu.text_url.nil? %>
        <%= link_to "#{menu.text_url}" do %>
        <span><%= menu.title %></span>
        <i class="<%= menu.icon %>"></i>
        <% end %>
        <% else %>
        <%= link_to '#' do %>
        <span><%= menu.title %></span>
        <i class="<%= menu.icon %>"></i>
        <% end %>
        <% end %>
        <% if menu.submenus.size > 0 %>
        <ul>
          <% menu.submenus.each do |submenu| %>
          <li>
            <%= link_to submenu.sub_title, submenu.sub_text_url %>
          </li>
          <% end %>
        </ul>
        <% end %>
      </li>
      <% end %>
      <% elsif %w(partner).include? current_user.role %>
      <li>
        <%= link_to edit_admin_partner_path(current_user.partner) do %>
          <span><%= I18n.t('views.manage_brand') %></span>
          <i class="icon-user4"></i>
        <% end %>
      </li>
      <% end %>
    </ul>
<!-- /main navigation -->

  </div>
</div>
<!-- /sidebar -->
